In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Mustafa\Downloads\KAMP ÖDEV\country.csv")
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

Nüfusa göre azalan sırada ülkeleri listeleyin.

In [5]:
#nüfusa göre sıralama yapılacağı için population sütunu ele alınır. oradaki bilgilere göre sıralama yapılır.
siralama_by_nüfus = df.sort_values(by="Population", ascending = False)
#bu şekilde bırakırsak sıralanmış bir şekilde tüm dataframe i gösterir
nüfusa_ayarli_df = pd.DataFrame(siralama_by_nüfus)
print(nüfusa_ayarli_df)

                   Country                               Region  Population  \
42                  China         ASIA (EX. NEAR EAST)           1313973713
94                  India         ASIA (EX. NEAR EAST)           1095351995
214         United States   NORTHERN AMERICA                      298444215
95              Indonesia         ASIA (EX. NEAR EAST)            245452739
27                 Brazil               LATIN AMER. & CARIB       188078227
..                     ...                                  ...         ...
144                 Nauru   OCEANIA                                   13287
209                Tuvalu   OCEANIA                                   11810
140            Montserrat               LATIN AMER. & CARIB            9439
171          Saint Helena   SUB-SAHARAN AFRICA                         7502
174  St Pierre & Miquelon   NORTHERN AMERICA                           7026

     Area (sq. mi.) Pop. Density (per sq. mi.) Coastline (coast/area ratio)  \
42          9596960                      136,9                         0,15
94          3287590                      333,2                         0,21
214         9631420                       31,0                         0,21
95          1919440                      127,9                         2,85
27          8511965                       22,1                         0,09
..              ...                        ...                          ...
144              21                      632,7                       142,86
209              26                      454,2                        92,31
140             102                       92,5                        39,22
171             413                       18,2                        14,53
174             242                       29,0                        49,59

    Net migration Infant mortality (per 1000 births)  GDP ($ per capita)  \
42           -0,4                              24,18              5000.0
94          -0,07                              56,29              2900.0
214          3,41                                6,5             37800.0
95              0                               35,6              3200.0
27          -0,03                              29,61              7600.0
..            ...                                ...                 ...
144             0                               9,95              5000.0
209             0                              20,03              1100.0
140             0                               7,35              3400.0
171             0                                 19              2500.0
174         -4,86                               7,54              6900.0

    Literacy (%) Phones (per 1000) Arable (%) Crops (%) Other (%) Climate  \
42          90,9             266,7       15,4      1,25     83,35     1,5
94          59,5              45,4       54,4      2,74     42,86     2,5
214         97,0             898,0      19,13      0,22     80,65       3
95          87,9              52,0      11,32      7,23     81,45       2
27          86,4             225,3       6,96       0,9     92,15       2
..           ...               ...        ...       ...       ...     ...
144          NaN             143,0          0         0       100       2
209          NaN              59,3          0         0       100       2
140         97,0               NaN         20         0        80       2
171         97,0             293,3       12,9         0      87,1     NaN
174         99,0             683,2      13,04         0     86,96     NaN

    Birthrate Deathrate Agriculture Industry Service
42      13,25      6,97       0,125    0,473   0,403
94      22,01      8,18       0,186    0,276   0,538
214     14,14      8,26        0,01    0,204   0,787
95      20,34      6,25       0,134    0,458   0,408
27      16,56      6,17       0,084      0,4   0,516
..        ...       ...         ...      ...     ...
144     24,76       6,7         NaN      NaN     NaN
209     22,18      7,11       0,166    0,272   0,562
140     17,59       7,1         NaN      NaN     NaN
171     12,13      6,53         NaN      NaN     NaN
174     13,52      6,83         NaN      NaN     NaN

[227 rows x 20 columns]

Sonuçlara göre en az kalabalık olan ülke  St Pierre & Miquelon   NORTHERN AMERICA

GDP per capita’ya göre artan sırada ülkeleri listeleyin.

In [8]:
siralama_by_GDP = df.sort_values(by="GDP ($ per capita)", ascending = True, na_position = "first")
print(pd.DataFrame(siralama_by_GDP))

             Country                               Region  Population  \
223  Western Sahara   NORTHERN AFRICA                          273008
58       East Timor         ASIA (EX. NEAR EAST)              1062777
183    Sierra Leone   SUB-SAHARAN AFRICA                      6005250
188         Somalia   SUB-SAHARAN AFRICA                      8863338
33          Burundi   SUB-SAHARAN AFRICA                      8090068
..               ...                                  ...         ...
38   Cayman Islands               LATIN AMER. & CARIB           45436
22          Bermuda   NORTHERN AMERICA                          65773
154          Norway   WESTERN EUROPE                          4610820
214   United States   NORTHERN AMERICA                      298444215
121      Luxembourg   WESTERN EUROPE                           474413

     Area (sq. mi.) Pop. Density (per sq. mi.) Coastline (coast/area ratio)  \
223          266000                        1,0                         0,42
58            15007                       70,8                         4,70
183           71740                       83,7                         0,56
188          637657                       13,9                         0,47
33            27830                      290,7                         0,00
..              ...                        ...                          ...
38              262                      173,4                        61,07
22               53                     1241,0                       194,34
154          323802                       14,2                         7,77
214         9631420                       31,0                         0,21
121            2586                      183,5                         0,00

    Net migration Infant mortality (per 1000 births)  GDP ($ per capita)  \
223           NaN                                NaN                 NaN
58              0                              47,41               500.0
183             0                             143,64               500.0
188          5,37                              116,7               500.0
33          -0,06                              69,29               600.0
..            ...                                ...                 ...
38          18,75                               8,19             35000.0
22           2,49                               8,53             36000.0
154          1,74                                3,7             37800.0
214          3,41                                6,5             37800.0
121          8,97                               4,81             55100.0

    Literacy (%) Phones (per 1000) Arable (%) Crops (%) Other (%) Climate  \
223          NaN               NaN       0,02         0     99,98       1
58          58,6               NaN       4,71      0,67     94,62       2
183         31,4               4,0       6,98      0,89     92,13       2
188         37,8              11,3       1,67      0,04     98,29       1
33          51,6               3,4      35,05     14,02     50,93       2
..           ...               ...        ...       ...       ...     ...
38          98,0             836,3       3,85         0     96,15       2
22          98,0             851,4         20         0        80       2
154        100,0             461,7       2,87         0     97,13       3
214         97,0             898,0      19,13      0,22     80,65       3
121        100,0             515,4      23,28       0,4     76,32     NaN

    Birthrate Deathrate Agriculture Industry Service
223       NaN       NaN         NaN      NaN     0,4
58      26,99      6,24       0,085    0,231   0,684
183     45,76     23,03        0,49     0,31    0,21
188     45,13     16,63        0,65      0,1    0,25
33      42,22     13,46       0,463    0,203   0,334
..        ...       ...         ...      ...     ...
38      12,74      4,89       0,014    0,032   0,954
22       11,4      7,74        0,01      0,1    0,89
154     11,46       9,4       0,021    0,415   0,564
214     14,14      8,26        0,01    0,204   0,787
121     11,94      8,41        0,01     0,13    0,86

[227 rows x 20 columns]

In [ ]:
Çıkan sonuçlara göre GDP değeri en yüksek olan şehir Luxembourg   WESTERN EUROPE

Literacy oranına göre en yüksek ilk 5 ülkeyi seçiniz.

In [10]:
siralama_by_literacy = df.sort_values(by="Literacy (%)", ascending = False)
print(siralama_by_literacy[["Country", "Literacy (%)"]].head())

             Country Literacy (%)
53   Czech Republic          99,9
93          Iceland          99,9
163          Poland          99,8
114          Latvia          99,8
64          Estonia          99,8

Okuma oranı en yüksek olan 5 ülke Czech Republic, Iceland, Poland, Latvia, Estonia.

GDP per capita > 10.000 olan ülkeleri filtreleyin.

In [13]:
varlikli_ülke = df[df['GDP ($ per capita)'] > 1000]
print(f"Varlıklı ülke sayısı {len(varlikli_ülke)}")
print(varlikli_ülke[['Country', 'GDP ($ per capita)']].head())

Varlıklı ülke sayısı 201
           Country  GDP ($ per capita)
1         Albania               4500.0
2         Algeria               6000.0
3  American Samoa               8000.0
4         Andorra              19000.0
5          Angola               1900.0

In [ ]:
Çıkan sonuçlara göre en yüksek gelire sahip beş üşle albania, algeria, american samoa, andorra, angola.

Nüfus yoğunluğu en yüksek ilk 10 ülkeyi bulun.

In [14]:
#nüfus yoğunluğuna göre sıralama
siralama_by_nufus_yogunluk = df.sort_values(by='Pop. Density (per sq. mi.)', ascending=False)
print(siralama_by_nufus_yogunluk[['Country', 'Pop. Density (per sq. mi.)']])

                   Country Pop. Density (per sq. mi.)
9                 Armenia                        99,9
186              Slovenia                        99,2
202                  Togo                        97,7
12                Austria                        97,7
168               Romania                        93,9
..                     ...                        ...
46   Congo, Repub. of the                        10,8
207          Turkmenistan                        10,3
139              Mongolia                         1,8
223        Western Sahara                         1,0
80              Greenland                         0,0

[227 rows x 2 columns]

In [ ]:
nüfus yoğunluğu en yüksek olan ilk 10 ülke: 
 Armenia, Togo, Austria, Romania,Congo, Turkmenistan,Mongolia,Western Sahara, Greenland